<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            padding: 20px;
            background-color: #f4f4f4;
        }

        .content {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: gray;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Hello, {{name}}!</h1>
            <p>Your OTP code is <strong>{{message}}</strong>. It is valid for 10 minutes.</p>
        </div>
        <div class="footer">
          Thank you.
        </div>
    </div>
</body>

</html>

